<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet"/>
    <link href="../../admin/css/pearCommon.css" rel="stylesheet"/>
</head>
<body>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">视频名</label>
                <div class="layui-input-inline">
                    <input type="text" name="videoName" placeholder="请输入视频名" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="video-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="video-table" lay-filter="video-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="video-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="video-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="video-createTime">
    {{layui.util.toDateString(d.regTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>

<script type="text/html" id="video-url">
    <button class="layui-btn layui-btn-radius layui-bg-green layui-btn-sm" lay-event="videoUrl"><i
            class="layui-icon layui-icon-video"></i>
    </button>
</script>

<script src="../../component/layui/layui.js"></script>

<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;


        let cols = [
            [
                {type: 'checkbox'},
                {title: '视频名', field: 'videoName', align: 'center'},
                {
                    title: '所属目录',
                    field: 'courseMenu',
                    align: 'center',
                    templet: '<p>{{ d.courseMenu.menuName}}</p>',
                    width: 200
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    align: 'center',
                    templet: '#video-createTime',
                    sort: true,
                    width: 180
                },
                {title: '视频预览', field: 'videoUrl', align: 'center', templet: '#video-url', width: 120},
                {title: '操作', toolbar: '#video-bar', align: 'center', width: 130}
            ]
        ];

        table.render({
            elem: '#video-table',  //表格id
            url: '/course-service/api/video',  //异步请求参数
            page: true,     //开启分页功能
            cols: cols,     //设置表头。值是一个二维数组。方法渲染方式必填
            skin: 'line',   //设定表格外观:line（行边框风格）,row（列边框风格）,nob（无边框风格）
            //开启表格头部工具栏区域
            toolbar: '#video-toolbar',
            response: {
                statusCode: 200 //获取数据成功状态码
            },
            //自由配置头部工具栏右侧的图标按钮
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(video-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'videoUrl') {
                window.videoInfo(obj);
            }
        });

        //监听表头按钮
        table.on('toolbar(video-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(video-query)', function (data) {
            table.reload('video-table', {where: data.field});
            return false;
        });

        //新增弹层
        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['50%', '90%'],
                content: 'operate/addVideo.html',
                success: function (layero, index) {
                    form.render('select');
                    var iframe = window['layui-layer-iframe' + index];
                    setTimeout(function () {
                        layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            });
        };

        //修改弹层
        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['50%', '90%'],
                content: 'operate/editVideo.html',
                success: function (layero, index) {
                    var iframe = window['layui-layer-iframe' + index];
                    iframe.child(obj.data);
                    setTimeout(function () {
                        layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            });
        };

        //删除
        window.remove = function (obj) {
            layer.confirm('确定要删除该视频', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/course-service/api/video/" + obj.data['videoId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        };

        //批量删除
        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].videoId + ",";
            }
            console.log(ids);
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些视频', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/course-service/api/video/" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('video-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        };

        //右上刷新表格按钮
        window.refresh = function (param) {
            table.reload('video-table');
        };

        //预览视频弹层
        window.videoInfo = function (obj) {
            layer.open({
                type: 2,
                title: '预览',
                shade: 0.1,
                area: ['70%', '86.3%'],
                content: obj.data.videoUrl,
                shadeClose: true,
                success: function (layero, index) {
                    var iframe = window['layui-layer-iframe' + index];
                    setTimeout(function () {
                        layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            });
        };
    });
</script>

</body>
</html>
